<!DOCTYPE html>
<html>
<head>
  <title>Cities</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<p> </p>
    <hr>
    <p>
          <img src= "images/cities.png" >
      </p>
      <hr>
  <div class="container">
    <div class="nav">
      <h3>Welcome to city</h3>
      <ul>
        <li>sign up</li>
        <li>Excited to hang out around</li>
        <li>Nice places to visit</li>
        <li>about us</li>
      </ul>
    </div>
    <div class="main">
      <h1>Cities</h1>


      <h4>Where would you love to visit ? </h4>
      <ul>
        <li>New Delhi</li>
        <li>Banglore</li>
        <li>Mumbai</li>
        <li>Patna</li>
        <li>Chennai</li>
        <li>Calcutta</li>
        <li>Greater Noida</li>
        <li>Jaipur</li>
        <li>Kota</li>
        <li>Dehradun</li>
        <li>Shrinagar</li>
        <li>Chandigarh</li>
      </ul>
    </div>
  </div>
</body>
</html>