<!DOCTYPE html >
<!DOCTYPE html>
<html>
<head>
  <title> complaint </title>
  <mata name="viewport" content="width=device-width initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body>
    <hr>
    <h1 style="color: navy; text-align : center; background : grey;"> 
    Welcome to complaint forum </h1>
    <hr>

<h1 style="text-align: center; color: purple;">
     <form action="action_page.php">
     <fieldset>
        <legend>Complaint Status</legend>
        Firstname:<br>        
        <input type="text" name="firstname" placeholder=" first name "><br>
        Lastname:<br>
        <input type ="text" name="lastname" placeholder=" lastname"><br>
        E-mail:<br>
        <input type="text" name="mail" placeholder=" email"> <br>
        Hospital/Clinic name: <br>
        <input type="text" name="Hospital/Clinic" placeholder=" healthcare service provider name "><br>
        Complaint  Id: <br>
        <input type="text" name="Complaint id" placeholder=" complaint id "><br>
        <input type ="submit" name="submit"><br>

        </fieldset>
      </form>
      </h1>

</body>
</html>