 <!DOCTYPE html>
 <html>
 <head>
  <title> Health Care </title>
  
  <meta name="author" content="aayush" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="stylesheet" href="login.css" type="text/css" />
  
</head>
<body>



  <div id="page">
    <div id="logo">
      <h1><a href="/" id="logoLink"> </a></h1>
    </div>

    <div id="nav">
      <ul id="nav">
       
        <li><a href="#/home.html">Home</a></li>
        <li><a href="#/Health Care.html">Healthcare archives  </a></li>
        <li><a href="cities.html">Health Care Cities</a> </li>
        <li><a href="registration.html">Register complain </a></li>
        <li><a href="complaint.html">Complaint Status</a> </li>
        <li><a href="https://en.wikipedia.org/wiki/Health_care">About</a></li>

     
      </ul> 
      </div>
    
      <div style="text-align: right; width :10px;">
       <h1 style="text-align: center; color: purple;">
       <!--
         <form action="action_page.php">
           <fieldset>
            <legend>SignIn/SignUp:</legend>
            Firstname:<br>        
            <input type="text" name="firstname"><br>
            Lastname:<br>
            <input type ="text" name="lastname">
            <br>
            E-mail:<br>
            <input type="text" name="mail" ><br>
            <input type ="submit" name="submit"><br>
          </fieldset>
        </form>
        -->
      </h1>
    </div>
  </div>
  <h1 style="color: navy;">
    <li style="text-align : right; " >
      <a href="login.html">Admin Login </a>
    </li>
  </h1>

  <div id="content">
    <h2>Home</h2>
    <p>Welcome to Health Care portal </p>
    <hr>
    <p>
      <img src ="images/backgr.png" width="80%;" height="20%;" />
    </p>
    <hr>
    

  </div>
  <style>
    div.cities {
      background-color: navy;
      color: white;
      margin: 4% 4% 4% 4%;
      padding: 20px;
    }
  </style>
</head>

<body>

  <h1 style ="color: navy; text-align: center;">Medical and Health Care Systems </h1>
  <hr>
  <p>Hospitals, clinic and community health agencies can be very different from other work environments. Health Care systems are complex and there are many things you need to know about types of hospital systems, patient care, insurance, Health Care providers and legal issues.  
  </p>




  <hr>
  <h1>Latest articles and News</h1>
  <hr>
  
  <div class="cities">
    <h2>Economic Principles and the Health Care</h2>
    <hr>
    <p style="text-align: center;">     

      The study of how society decides what, how and for whom to produce. In analysing these issues, health economics attempts to apply the same analytical methods that would be applied to any good or service that the economy produces. However, it also always asks if the issues are different in health care.
      From a Public Health point of view, health economics is just one of many disciplines that may be used to analyse issues of health and health care, in particular as one of the set of analytical methods labelled health services research.
      But from an economics point of view, health economics is simply one of many topics to which economic principles and methods can be applied. So, in describing the principles of health economics, we are really setting out the principles of economics and how they might be interpreted in the context of health and health care.


    </p>

  </div> 
  <nav>
    <div class="cities">


      <h2>article 1</h2>
      <hr>
      <h3 style="color: lime;">Health care management review across the world  </h3>
      <a style="color: yellow;" href="http://journals.lww.com/hcmrjournal/Pages/viewallmostpopulararticles.aspx">click here </a>
      <p> 

      </p>
    </div>

    <div class="cities">
      <h2>article 2</h2>
      <hr>
      <p>


      </p>
    </div>

    <div class="cities">
      <h2>article 3</h2>
      <hr>
      <p>


      </p>
    </div>

    <div class="cities">
      <h2>article 4</h2>
      <hr>
      <p>


      </p>
    </div>

    <div class="cities">
      <h2>Health care News</h2>
      <hr>
      <p>Success in staffing and workforce solutions requires staying on top of the latest healthcare news on industry trends and developments. AMN provides valuable healthcare management news and information on managing staffing needs, as well as featured stories and profiles of industry leaders, written by award-winning journalists.

      </p>
      <a  style="color: yellow;" href="http://www.amnhealthcare.com/latest-healthcare-news">Read more </a> </p>
      

    </p>
  </div>
</nav>
</body>
<!--<hr>
<br>
<footer>All rights reserved @aayush</footer>
<br>
<hr>
-->



<footer id="footer">  
  <div class="container">
    <div class="col-sm-3">

    <p style="text-align: center;">India does not have a National health insurance or universal health care system for all its citizens which has allowed the private sector to become the dominant healthcare provider in the country. 

    </p>
      <h4>About the healthcare project </h4>
      <p style="text-align: center;">Since it was established in 2017, The platform has been dedicated to complaint registration and its solution. Offering the highest standards of complaint response.  </p>
    </div>
    <div class="col-sm-3 posts">
      <h4>Recent posts</h4>
        
          
         <p style="text-aling : center;"><a href="/#https://www. "> </a> Research Trends 2017 </p>
  
         <p style="text-aling : center;"><a href="/#https://www. "> </a> Link1</p>
       
         <p style="text-aling : center;"><a href="/#https://www. "></a>Link2 </p>
        
     
    </div>
    <div class="col-sm-3 partner">
    </div>
    <br>
    <div class="col-sm-3 contact">
      <h4>Contact us</h4>
       
       <p style="text-aling : center;"> email: <a href="/#mailto:aayushkumar1011@gmail.com"></a>aayushkumar1011@gmail.com </p>
       <p style="text-align: center;">phone: <a href="/#tel:09061361330"></a> 09061361330  </p>
        
        </div>  
        <hr>
<!--
      <h4 class="hide-follow">Follow us</h4>

      <ul class="social-links list-inline" style="color: grey;">
        <span> <a onclick="window.open('https://twitter.com ')"> <i class="twitter">Twitter</i></a> 
        <a onclick="window.open('https://plus.google.com') > <i class="google"></i></a> 
        </span>
      </ul>
    </div>
 -->

    <span class="name"> aayush </span>
    <br>
    <span class="company"> Cochin Kerala </span>
    <hr>
</footer>

<!--
<blockquote>
  <footer  style="padding: 2%; ">
    <p style="background-color:  ;">India does not have a National health insurance or universal health care system for all its citizens which has allowed the private sector to become the dominant healthcare provider in the country. 



    </p>
    <span class="name"> aayush </span>
    <br>
    <span class="company"> Cochin Kerala </span>
  </footer>
</blockquote>
-->
</html>
